{% include './ios/hostname.j2' %}

{% include './ios/services.j2' %}

{% include './ios/ntp.j2' %}

{% include './ios/logging.j2' %}

{% include './ios/aaa.j2' %}

{% include './ios/snmp.j2' %}

{% include './ios/line_vty.j2' %}

{% include './ios/banner.j2' %}

end
