{% include './ios/hostname.j2' %}

{% include './ios/ntp.j2' %}

{% include './ios/logging.j2' %}

{% if tags == [] %}
  {% include "./config_templates/cisco/cisco_ios/aaa.j2" %}
{% else %}
  {% for tag in tags %}
    {% if tag["name"] == "aaa_legacy" %}
      {% include "./config_templates/cisco/cisco_ios/aaa_legacy.j2" %}
    {% endif %}
  {% endfor %}
{% endif %}

{% include './ios/snmp.j2' %}

{% include './ios/banner.j2' %}

end
