{% for server in config_context['ntp']['servers'] %}
set system ntp server {{ server.ip }}
{% endfor %}
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from source-prefix-list AP-NTP-Servers
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from source-prefix-list AP-Local-Access-Loopback
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from destination-prefix-list PL-CVX-NNGW-BB-Block
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from destination-prefix-list AP-Local-Access-Loopback
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from destination-prefix-list AP-Local-Access-Fxp0
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from protocol udp
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP from port ntp
set firewall family inet filter CVX-FW-CPP-01 term accept-NTP then accept
