banner motd ^C
**********************************************************************
NOTICE TO USERS:
This Chevron system/device is for use by authorized users only.
To the extent permitted by law, by using this system/device you
acknowledge and consent to the monitoring, access (including the
decryption and inspection of selected encrypted internet traffic),
use or disclosure by Chevron of any information generated, received
or stored on this system/device and waive any right or expectation
of privacy in connection with your use. Unauthorized and/or improper
use of this system/device in violation of Chevron corporate policies
will be not tolerated and may result in disciplinary action, including
termination.
**********************************************************************
^C
