{% for server in config_context['ntp']['server']['US']['server-list'] %}
 {% if interfaces is defined and interfaces[0].vrf is defined %}
ntp server {{ server.ip }} use-vrf '{{ interfaces[0].vrf.name }}'
 {% else %}
 ntp server {{ server.ip }} use-vrf default
 {% endif %}
{% endfor %}
