feature tacacs+
feature eigrp
feature udld
feature interface-vlan
feature hsrp
feature lacp
feature dhcp
feature vpc
feature lldp
feature vtp
feature fex
service dhcp 
feature nxapi
feature bash-shell
feature scp-server
feature bgp 
service dhcp
