snmp-server location {{ site["name"] }} / {{ site["physical_address"] | replace("\n", " ") | replace("\r", "") }} / {{ site["region"]["name"] }} / {{ site["region"]["parent"]["name"] }} /US-NA-Utility-WAN-Remotes/Criticality-Low
!
{% for user in config_context["snmp"]["users"] -%}
snmp-server user {{ user["id"] }} CVX-NMS auth sha {{ user["auth_pw"] }} priv aes-128 {{ user["priv_pw"] }} localizedkey
{% endfor -%}
{% for user in config_context["snmp"]["users"] -%}
snmp-server user {{ user["id"] }} use-ipv4acl cvx-snmpv3-acl
{% endfor -%}
!
{% for server in config_context["snmp"]["servers_v3"] -%}
snmp-server host {{ server["host"] }} traps version 3 {{ server["securitylevel"] }} {{ server["user"] }}
{% endfor -%}
!
snmp-server source-interface traps {{ primary_ip4["interface"]["name"] }}
snmp-server enable traps config ccmCLIRunningConfigChanged
snmp-server enable traps snmp authentication
snmp-server enable traps link cisco-xcvr-mon-status-chg
!
ip access-list cvx-snmpv3-acl
  statistics per-entry
  {% for ip in config_context["snmp"]["acl"] %}
{{ loop.index * 10 }} permit {{ ip }} any
  {% endfor %}
{{ (config_context["snmp"]["acl"]|length + 1) * 10 }} deny ip any any log
