aaa group server tacacs+ {{ config_context["aaa"]["group"]["tacacs"][0]["name"] }}
 {% for server in config_context["aaa"]["server"] -%}
 server name {{ server["name"] }}
 {% endfor -%}   
!
{% for server in config_context["aaa"]["server"] %}
tacacs server {{ server["name"] }}
 address ipv4 {{ server["ip"] }} 
 key 7 <redacted>
 timeout 10
{% endfor %}
