ip access-list standard cvx-vty-acl
 {% for cidr in config_context["line"]["acl"] %}
{% set ip = cidr | ipaddress_network("network_address") %}
{% set prefix = cidr | ipaddress_network("prefixlen") %}
{{ loop.index * 10 }} permit {{ ip }} {% if  prefix != 32 %} {{ cidr | ipaddress_network("hostmask") }} {% endif %} 
 {% endfor %}
{{ (config_context["line"]["acl"]|length + 1) * 10 }} deny   any log
!
line con 0
 session-timeout 10 
 timeout login response 15
 password 7 {{ config_context["line"]["password_hash"] }}
 stopbits 1
line vty 0 4
 session-timeout 10 
 access-class cvx-vty-acl in vrf-also
 timeout login response 15
 password 7 {{ config_context["line"]["password_hash"] }}
 logging synchronous
 transport preferred ssh
 transport input ssh
 transport output none
line vty 5 15
 session-timeout 10 
 access-class cvx-vty-acl in vrf-also
 timeout login response 15
 password 7 {{ config_context["line"]["password_hash"] }}
 logging synchronous
 transport preferred ssh
 transport input ssh
 transport output none
