logging snmp-authfail
logging buffered {{ config_context['logging']['buffered']['size']['size-value'] }}
logging reload warnings
no logging console
logging history size {{ config_context['logging']['history']['size'] }}
logging source-interface {{ config_context['management']['interface']['name']}} {{config_context['management']['interface']['number']}}
