!
snmp-server location {{ site["name"] }} / {{ site["physical_address"] | replace("\n", " ") | replace("\r", "") }} / {{ site["region"]["name"] }} / {{ site["region"]["parent"]["name"] }} /US-NA-Utility-WAN-Remotes/Criticality-Low
!
snmp-server source-interface {{ primary_ip4["interface"]["name"] }}
!
snmp-server group CVX-NMS v3 priv read V3Read write V3Write access cvx-snmpv3-acl
!
{% for server in config_context["snmp"]["servers_v3"] -%}
snmp-server host {{ server["host"] }} version 3 {{ server["securitylevel"] }} {{ server["user"] }}
{% endfor -%}
!
snmp-server view V3Read iso included
snmp-server view V3Write iso included
snmp-server view V3Notify iso included
snmp-server trap link ietf
snmp-server trap-source  {{ primary_ip4["interface"]["name"] }}
snmp-server enable traps snmp linkdown linkup coldstart warmstart
snmp-server enable traps license
snmp-server enable traps entity
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps config
no snmp trap link-status 
snmp-server enable traps memory
snmp ifmib ifindex persist
!
ip access-list standard cvx-snmpv3-acl
 {% for ip in config_context["snmp"]["acl"] %}
{% set ipv4 = ip.split('/')[0] -%}
{% set mask = ip.split('/')[1] -%}
{% if  mask == "32" -%}
{{ loop.index * 10 }} permit {{ ipv4 }} }}
{% endif %}
 {% endfor %}
{{ (config_context["snmp"]["acl"]|length + 1) * 10 }} deny   any log
!
