!
snmp-server location {{ role["name"] | default ('Unknown') }} : {{ location["name"] | upper }} : {{ rack["name"] | default ('Unknown') | upper }}-U{{ position | default ('00') }} : {{ location["latitude"] | default ("0.0") }},{{ location["longitude"] | default ("0.0") }} 
!
snmp-server source-interface {{ mgmt_interface[0]["name"] }}
!
snmp-server group CVX-NMS v3 priv read V3Read write V3Write access cvx-snmpv3-acl
!
{% for server, attrib in config_context["snmp"]["servers"].items() -%}
snmp-server host {{ server }} version {{ attrib["version"] }} {{ attrib["securitylevel"] }} {{ attrib["user"] }}
{% endfor -%}
!
snmp-server view V3Read iso included
snmp-server view V3Write iso included
snmp-server view V3Notify iso included
snmp-server trap link ietf
snmp-server trap-source {{ mgmt_interface[0]["name"] }}
snmp-server enable traps snmp linkdown linkup coldstart warmstart
snmp-server enable traps license
snmp-server enable traps entity
snmp-server enable traps envmon fan shutdown supply temperature status
snmp-server enable traps config
no snmp trap link-status 
snmp-server enable traps memory
snmp ifmib ifindex persist
!
ip access-list standard cvx-snmpv3-acl
 {% for cidr in config_context["snmp"]["acl"] -%}
{% set ip = cidr | ipaddress_network("network_address") -%}
{% set prefix = cidr | ipaddress_network("prefixlen") -%}
{% if  prefix == 32 -%}
{{ loop.index * 10 }} permit {{ ip }}
{% else -%}
{{ loop.index * 10 }} permit {{ ip }} {{ cidr | ipaddress_network("hostmask") }}
{% endif %}
{% endfor -%}
 {{ (config_context["snmp"]["acl"]|length + 1) * 10 }} deny   any log
!
