{% for group in config_context["aaa"]["group"]["server"][region]["tacacsplus"] %}
aaa group server tacacs+ {{ group.name }}
 {% for server in aaa["aaa"]["group"]["server"][region]["tacacsplus"][0]["server"]["name"] -%}
 server name {{ server.name }}
 {% endfor -%}

{% for server in config_context["tacacs"]["server"]['APAC'] %}
tacacs server {{ server.name }}
 address ipv4 {{ server.address.ipv4 }} 
 key 7 06031D344F4B1A1606041B08
 timeout 10
{% endfor %}
